* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f8fa;
  }
  
  .auth-page {
    text-align: center;
  }
  
  .auth-container {
    display: inline-block;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .auth-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .auth-button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 10px;
    background-color: #50b7f5;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
  }
  
  .auth-button:hover {
    background-color: #4aa3d4;
  }
  
  .auth-button:active {
    background-color: #4297c9;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }