body {
    background-color: rgba(142, 142, 192, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h2 {
    text-align: center;
}

.gweets-container {
    background-color: rgb(188, 195, 202);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: auto;
    width: 460px;
    padding: 10px;
}

.username {
    color: #2c3a4e;
    font-weight: bold;
    font-size: 20px;
}

.gweets {
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(105, 107, 110, 0.1);
    background-color: rgb(195, 202, 209);
    margin: 8px;
    font-size: 18px;
}