body {
    background-color: rgb(188, 195, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    background-color: #2c3a4e;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2c3a4e;
  }
  
  p {
    margin-top: 10px;
    text-align: center;
  }
  
  a {
    color: #2c3a4e;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* h2 {
      padding-left: 70px;
      color: #2c3a4e;
  } */

  #login-form, #signup-form {
    border:1px solid rgb(14, 44, 86);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgb(14, 44, 86, 0.7);
  }